@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* COLORS */
  /* brand color */
  --de-orange: #F1B049;
  /* theme colors */
  --blue-dark: #0E4FB6;
  --blue-light: #346BC4;
  --green-dark: #296B4B;
  --green-light: #458968;
  --purple-dark: #501B68;
  --purple-light: #6D3787;
  --red-dark: #7D1425;
  --red-light: #973242;
  --dark-brown-dark: #1F140E;
  --dark-brown-light: #4B362A;
  --light-brown-dark: #986546;
  --light-brown-light: #AD7F62;
  --grey-dark: #88888B;
  --grey-light: #A9A9AD;
  /* greys */
  --light-grey: #DADCE0;
  --med-grey: #999EA2;
  --dark-grey: #70757A;
  /* wheel and tile bg color */
  --bg-main: rgba(255,255,255,0.1);

  /* box-shadow */
}

@keyframes gradient-dark-svg {
  0% {
      fill: #0E4FB6;
  }
  14.3% {
      fill: #296B4B;
  }
  28.6% {
      fill: #501B68;
  }
  42.9% {
      fill: #7D1425;
  }
  57.1% {
      fill: #1F140E;
  }
  71.4% {
      fill: #986546;
  }
  85.7% {
      fill: #88888B;
  }
  100% {
      fill: #0E4FB6;
  }
}

@keyframes gradient-light-svg {
  0% {
      fill: #346BC4;
  }
  14.3% {
      fill: #458968;
  }
  28.6% {
      fill: #6D3787;
  }
  42.9% {
      fill: #973242;
  }
  57.1% {
      fill: #4B362A;
  }
  71.4% {
      fill: #AD7F62;
  }
  85.7% {
      fill: #A9A9AD;
  }
  100% {
      fill: #346BC4;
  }
}

h2 {
  font-size: 2rem;
}
